.top-slider{
    overflow: hidden;
    position: relative;
}
.top-slider .slide-pattern{
    /*background: url(../images/slider-pattern.png) scroll;*/
    /*background-color: rgba(0,0,0,0.4);*/

    background: -webkit-linear-gradient(60deg, #556270 10%, #FF6B6B 90%);
    background: -moz-linear-gradient(60deg, #556270 10%, #FF6B6B 90%);
    background: -ms-linear-gradient(60deg, #556270 10%, #FF6B6B 90%);
    background: -o-linear-gradient(60deg, #556270 10%, #FF6B6B 90%);
    background: linear-gradient(60deg, #556270 10%, #FF6B6B 90%);

    background: transparent url("../images/u28408-grad.png") repeat-x left top;
    background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.75)),color-stop(70%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.75) ,rgba(0, 0, 0, 0) 70%);
    background: -o-linear-gradient(top,rgba(0, 0, 0, 0.75) ,rgba(0, 0, 0, 0) 70%);
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.75) ,rgba(0, 0, 0, 0) 70%);
    border-style: none;
    border-color: transparent;

    background: rgba(0,0,0,0.5);

    width: 100%;
    height: 100%;
    z-index: 8;
    -webkit-transform: translateZ(0.4px);
    -moz-transform: translateZ(0.4px);
    -ms-transform: translateZ(0.4px);
    -o-transform: translateZ(0.4px);
    transform: translateZ(0.4px);
    position: absolute;
    top: 0;
}

.top-slider .ms-nav-next,
.top-slider .ms-nav-prev{
    display: none;
}

.top-slider .slider-caption{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 41% !important;
}

.top-slider .text-white{
    color: #FFF;
}
.top-slider .bold-text{
    font-weight: 700;
}
.top-slider .thin-text{
    font-weight: 100;
}
.top-slider .big-text{
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.top-slider .small-text{
    font-size: 18px;
}
.top-slider p{
    line-height: 1;
}


.top-slider .one-half,.top-slider .one-half-last {
    width: 50%;
    position: absolute;
    left:0;
    top: 41%;
}
.top-slider .one-half-last {
    right:0;
}


.top-slider .slider-background{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}



/* home 1 */
.top-slider-1 .slide-pattern{
    background-color: rgba(0,0,0,0.7);
}
.top-slider-1 .big-text{
    margin-bottom: 5px;
}
.top-slider-1 .small-text{
    margin-bottom: 30px;
    font-style: italic;
}



/* home 3 */
.top-slider-3 .ms-view{
    background: transparent;
}
.top-slider.top-slider-3 .slider-caption{
    top: 35% !important;
}
.top-slider-3 .slider-background img{
    position: absolute;
}
.top-slider-3 .big-text{
    margin-bottom: 10px;
}
.top-slider-3 .small-text{
    line-height: 1.5em;
    margin-bottom: 30px;
}


/* home 4 */
.top-slider-4 .ms-view{
    background: transparent;
    background-color: rgba(255,255,255,0.5);
}
.top-slider.top-slider-4 .slider-caption{
    top: 35% !important;
}
.top-slider-4 .slider-background{
    background-size: cover;
    background-position: center bottom;
}
.top-slider-4 .slider-background img{
    position: absolute;
}
.top-slider-4 .big-text{
    margin-bottom: 10px;
}
