/**
 *  Master Slider
 *  Light 3
 */

.ms-skin-light-3 .ms-slide .ms-slide-vpbtn,
.ms-skin-light-3 .ms-video-btn{
    width: 50px;
    height: 50px;
    background: url(light-skin-3.png) no-repeat -15px -149px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.ms-skin-light-3 .ms-slide .ms-slide-vcbtn {
    width: 31px;
    height: 29px;
    background: url(light-skin-3.png) no-repeat -26px -28px;
    top: 30px;
    right: 30px;
}

/* controls */

.ms-skin-light-3 .ms-nav-next,
.ms-skin-light-3 .ms-nav-prev {
    width: 50px;
    background: url(light-skin-3.png);
    background-position: -82px -22px;
    height: 50px;
    cursor: pointer;
    top: 50%;
    left: 30px;
    margin-top: -25px;
    position: absolute;
    z-index: 110;
}
.ms-skin-light-3 .ms-nav-next {
    right: 30px;
    left: auto;
    background-position: -81px -99px;
}

.ms-skin-light-3 .ms-bullets.ms-dir-h {
    position: absolute;
    bottom: 20px;
    right: 50%;
    width: 100px;
}

.ms-skin-light-3 .ms-bullets.ms-dir-h .ms-bullets-count {
    position: relative;
    right: -50%;
}

.ms-skin-light-3 .ms-bullet {
    width: 16px;
    height: 16px;
    background: url(light-skin-3.png) no-repeat;
    background-position: -31px -114px;
    margin: 4px;
}

.ms-skin-light-3 .ms-bullet-selected {
    background-position: -31px -81px;
}

.ms-skin-light-3 .ms-time-bar {
    height: 3px;
    background: #FFFFFF;
    border-top: solid 1px rgba(0, 0, 0, 0.41);
}

.ms-skin-light-3 .ms-tooltip{
    position: absolute;
    z-index: 210;
    cursor: auto;
}

.ms-skin-light-3 .ms-tooltip-top .ms-tooltip-arrow,
.ms-skin-light-3 .ms-tooltip-bottom .ms-tooltip-arrow{
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: absolute;
    left: 50%;
    margin-left: -10px;
}

.ms-skin-light-3 .ms-tooltip-top .ms-tooltip-arrow{
    border-top: solid 10px;
    border-top-color: silver;
    border-top-color: rgba(240, 240, 240, 0.88);
    bottom: -10px;
}

.ms-skin-light-3 .ms-tooltip-bottom .ms-tooltip-arrow {
    border-bottom: solid 10px;
    border-bottom-color: silver;
    border-bottom-color: rgba(240, 240, 240, 0.88);
    top: -10px;
}

.ms-skin-light-3 .ms-tooltip-right .ms-tooltip-arrow,
.ms-skin-light-3 .ms-tooltip-left .ms-tooltip-arrow{
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.ms-skin-light-3 .ms-tooltip-right .ms-tooltip-arrow{
    border-right: solid 10px;
    border-right-color: silver;
    border-right-color: rgba(240, 240, 240, 0.88);
    left: -10px;
}

.ms-skin-light-3 .ms-tooltip-left .ms-tooltip-arrow {
    border-left: solid 10px;
    border-left-color: silver;
    border-left-color: rgba(240, 240, 240, 0.88);
    right: -10px;
}

.ms-skin-light-3 .ms-tooltip-point {cursor: pointer;}
.ms-skin-light-3 .ms-tooltip-point .ms-point-center {
    width: 12px;
    height: 12px; 
    border-radius: 15px;
    border: solid 2px #BBB;
    background: white;
    margin: -8px 0 0 -8px;
    position: absolute;
    z-index: 105;
}

.ms-skin-light-3 .ms-tooltip-point .ms-point-border {
    width: 22px;
    height: 22px; 
    background: black;
    background:rgba(0, 0, 0, 0.36);
    margin: -11px 0 0 -11px;
    position: absolute;
    border-radius: 15px;

    animation: point-anim 1.5s infinite ;
    -moz-animation: point-anim 1.5s infinite;
    -webkit-animation: point-anim 1.5s infinite;
    -o-animation: point-anim 1.5s infinite;
}

.ms-skin-light-3  .ms-tooltip {
    max-width:200px;
}

.ms-skin-light-3 .ms-tooltip-cont {
    padding: 10px;
    background: silver;
    background: rgba(240, 240, 240, 0.88);
    text-shadow: 0 1px 0px white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04);
}

/* retina */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .ms-skin-light-3 .ms-slide .ms-slide-vpbtn,
    .ms-skin-light-3 .ms-video-btn,
    .ms-skin-light-3 .ms-slide .ms-slide-vcbtn,
    .ms-skin-light-3 .ms-nav-next,
    .ms-skin-light-3 .ms-nav-prev,
    .ms-skin-light-3 .ms-bullet{
        background-image:url(light-skin-3-retina.png);
        background-size: 152px 225px;
    }

}
