/**
 *  Master Slider
 *  Contrast
 */

.ms-skin-contrast .ms-slide .ms-slide-vpbtn,
.ms-skin-contrast .ms-video-btn{
    width: 60px;
    height: 60px;
    background: url(contrast-skin.png) no-repeat -10px -144px;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
}

.ms-skin-contrast .ms-slide .ms-slide-vcbtn {
    width: 24px;
    height: 24px;
    background: url(contrast-skin.png) no-repeat -27px -30px;
    top: 30px;
    right: 30px;
}

/* controls */

.ms-skin-contrast .ms-nav-next,
.ms-skin-contrast .ms-nav-prev {
    width: 60px;
    background: url(contrast-skin.png);
    background-position: -76px -17px;
    height: 60px;
    cursor: pointer;
    top: 50%;
    left: 30px;
    margin-top: -30px;
    position: absolute;
    z-index: 110;
}
.ms-skin-contrast .ms-nav-next {
    right: 30px;
    left: auto;
    background-position: -77px -91px;
}

.ms-skin-contrast .ms-bullets.ms-dir-h {
    position: absolute;
    bottom: 20px;
    right: 50%;
    width: 100px;
}

.ms-skin-contrast .ms-bullets.ms-dir-h .ms-bullets-count {
    position: relative;
    right: -50%;
}

.ms-skin-contrast .ms-bullet {
    width: 16px;
    height: 16px;
    background: url(contrast-skin.png) no-repeat;
    background-position: -31px -114px;
    margin: 4px;
}

.ms-skin-contrast .ms-bullet-selected {
    background-position: -31px -81px;
}

.ms-skin-contrast .ms-timerbar {
    background: black;
    height: 2px;
}

.ms-skin-contrast .ms-time-bar {
    height: 1px;
    margin-top: 1px;
    background: #FC3116;
}

.ms-skin-contrast .ms-tooltip{
    position: absolute;
    z-index: 210;
    cursor: auto;
}

.ms-skin-contrast .ms-tooltip-top .ms-tooltip-arrow,
.ms-skin-contrast .ms-tooltip-bottom .ms-tooltip-arrow{
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: absolute;
    left: 50%;
    margin-left: -10px;
}

.ms-skin-contrast .ms-tooltip-top .ms-tooltip-arrow{
    border-top: solid 10px;
    border-top-color: #fc3116;
    border-top-color: rgba(252, 49, 22, 0.8);
    bottom: -10px;
}

.ms-skin-contrast .ms-tooltip-bottom .ms-tooltip-arrow {
    border-bottom: solid 10px;
    border-bottom-color: #fc3116;
    border-bottom-color: rgba(252, 49, 22, 0.8);
    top: -10px;
}

.ms-skin-contrast .ms-tooltip-right .ms-tooltip-arrow,
.ms-skin-contrast .ms-tooltip-left .ms-tooltip-arrow{
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.ms-skin-contrast .ms-tooltip-right .ms-tooltip-arrow{
    border-right: solid 10px;
    border-right-color: #fc3116;
    border-right-color: rgba(252, 49, 22, 0.8);
    left: -10px;
}

.ms-skin-contrast .ms-tooltip-left .ms-tooltip-arrow {
    border-left: solid 10px;
    border-left-color: #fc3116;
    border-left-color: rgba(252, 49, 22, 0.8);
    right: -10px;
}

.ms-skin-contrast .ms-tooltip-point {cursor: pointer;}
.ms-skin-contrast .ms-tooltip-point .ms-point-center {
    width: 12px;
    height: 12px; 
    border-radius: 15px;
    border: solid 2px #636363;
    background: black;
    margin: -8px 0 0 -8px;
    position: absolute;
    z-index: 105;
}

.ms-skin-contrast .ms-tooltip-point .ms-point-border {
    width: 22px;
    height: 22px; 
    background: white;
    background: rgba(255, 255, 255, 0.99);
    margin: -11px 0 0 -11px;
    position: absolute;
    border-radius: 15px;

    animation: point-anim 1.5s infinite ;
    -moz-animation: point-anim 1.5s infinite;
    -webkit-animation: point-anim 1.5s infinite;
    -o-animation: point-anim 1.5s infinite;
}

.ms-skin-contrast  .ms-tooltip {
    max-width:200px;
}

.ms-skin-contrast .ms-tooltip-cont {
    padding: 10px;
    background: #fc3116;
    background: rgba(252, 49, 22, 0.8);
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04);
}

/* retina */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .ms-skin-contrast .ms-slide .ms-slide-vpbtn,
    .ms-skin-contrast .ms-video-btn,
    .ms-skin-contrast .ms-slide .ms-slide-vcbtn,
    .ms-skin-contrast .ms-nav-next,
    .ms-skin-contrast .ms-nav-prev,
    .ms-skin-contrast .ms-bullet{
        background-image:url(contrast-skin-retina.png);
        background-size: 152px 225px;
    }

}