@font-face {
    font-family: 'et-line';
    src:url('et-line.eot');
    src:url('et-line.eot?#iefix') format('embedded-opentype'),
        url('et-line.woff') format('woff'),
        url('et-line.ttf') format('truetype'),
        url('et-line.svg#et-line') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'et-line';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display:inline-block;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.et-line-mobile:before, .et-line-laptop:before, .et-line-desktop:before, .et-line-tablet:before, .et-line-phone:before, .et-line-document:before, .et-line-documents:before, .et-line-search:before, .et-line-clipboard:before, .et-line-newspaper:before, .et-line-notebook:before, .et-line-book-open:before, .et-line-browser:before, .et-line-calendar:before, .et-line-presentation:before, .et-line-picture:before, .et-line-pictures:before, .et-line-video:before, .et-line-camera:before, .et-line-printer:before, .et-line-toolbox:before, .et-line-briefcase:before, .et-line-wallet:before, .et-line-gift:before, .et-line-bargraph:before, .et-line-grid:before, .et-line-expand:before, .et-line-focus:before, .et-line-edit:before, .et-line-adjustments:before, .et-line-ribbon:before, .et-line-hourglass:before, .et-line-lock:before, .et-line-megaphone:before, .et-line-shield:before, .et-line-trophy:before, .et-line-flag:before, .et-line-map:before, .et-line-puzzle:before, .et-line-basket:before, .et-line-envelope:before, .et-line-streetsign:before, .et-line-telescope:before, .et-line-gears:before, .et-line-key:before, .et-line-paperclip:before, .et-line-attachment:before, .et-line-pricetags:before, .et-line-lightbulb:before, .et-line-layers:before, .et-line-pencil:before, .et-line-tools:before, .et-line-tools-2:before, .et-line-scissors:before, .et-line-paintbrush:before, .et-line-magnifying-glass:before, .et-line-circle-compass:before, .et-line-linegraph:before, .et-line-mic:before, .et-line-strategy:before, .et-line-beaker:before, .et-line-caution:before, .et-line-recycle:before, .et-line-anchor:before, .et-line-profile-male:before, .et-line-profile-female:before, .et-line-bike:before, .et-line-wine:before, .et-line-hotairballoon:before, .et-line-globe:before, .et-line-genius:before, .et-line-map-pin:before, .et-line-dial:before, .et-line-chat:before, .et-line-heart:before, .et-line-cloud:before, .et-line-upload:before, .et-line-download:before, .et-line-target:before, .et-line-hazardous:before, .et-line-piechart:before, .et-line-speedometer:before, .et-line-global:before, .et-line-compass:before, .et-line-lifesaver:before, .et-line-clock:before, .et-line-aperture:before, .et-line-quote:before, .et-line-scope:before, .et-line-alarmclock:before, .et-line-refresh:before, .et-line-happy:before, .et-line-sad:before, .et-line-facebook:before, .et-line-twitter:before, .et-line-googleplus:before, .et-line-rss:before, .et-line-tumblr:before, .et-line-linkedin:before, .et-line-dribbble:before {
    font-family: 'et-line';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display:inline-block;
}
.et-line-mobile:before {
    content: "\e000";
}
.et-line-laptop:before {
    content: "\e001";
}
.et-line-desktop:before {
    content: "\e002";
}
.et-line-tablet:before {
    content: "\e003";
}
.et-line-phone:before {
    content: "\e004";
}
.et-line-document:before {
    content: "\e005";
}
.et-line-documents:before {
    content: "\e006";
}
.et-line-search:before {
    content: "\e007";
}
.et-line-clipboard:before {
    content: "\e008";
}
.et-line-newspaper:before {
    content: "\e009";
}
.et-line-notebook:before {
    content: "\e00a";
}
.et-line-book-open:before {
    content: "\e00b";
}
.et-line-browser:before {
    content: "\e00c";
}
.et-line-calendar:before {
    content: "\e00d";
}
.et-line-presentation:before {
    content: "\e00e";
}
.et-line-picture:before {
    content: "\e00f";
}
.et-line-pictures:before {
    content: "\e010";
}
.et-line-video:before {
    content: "\e011";
}
.et-line-camera:before {
    content: "\e012";
}
.et-line-printer:before {
    content: "\e013";
}
.et-line-toolbox:before {
    content: "\e014";
}
.et-line-briefcase:before {
    content: "\e015";
}
.et-line-wallet:before {
    content: "\e016";
}
.et-line-gift:before {
    content: "\e017";
}
.et-line-bargraph:before {
    content: "\e018";
}
.et-line-grid:before {
    content: "\e019";
}
.et-line-expand:before {
    content: "\e01a";
}
.et-line-focus:before {
    content: "\e01b";
}
.et-line-edit:before {
    content: "\e01c";
}
.et-line-adjustments:before {
    content: "\e01d";
}
.et-line-ribbon:before {
    content: "\e01e";
}
.et-line-hourglass:before {
    content: "\e01f";
}
.et-line-lock:before {
    content: "\e020";
}
.et-line-megaphone:before {
    content: "\e021";
}
.et-line-shield:before {
    content: "\e022";
}
.et-line-trophy:before {
    content: "\e023";
}
.et-line-flag:before {
    content: "\e024";
}
.et-line-map:before {
    content: "\e025";
}
.et-line-puzzle:before {
    content: "\e026";
}
.et-line-basket:before {
    content: "\e027";
}
.et-line-envelope:before {
    content: "\e028";
}
.et-line-streetsign:before {
    content: "\e029";
}
.et-line-telescope:before {
    content: "\e02a";
}
.et-line-gears:before {
    content: "\e02b";
}
.et-line-key:before {
    content: "\e02c";
}
.et-line-paperclip:before {
    content: "\e02d";
}
.et-line-attachment:before {
    content: "\e02e";
}
.et-line-pricetags:before {
    content: "\e02f";
}
.et-line-lightbulb:before {
    content: "\e030";
}
.et-line-layers:before {
    content: "\e031";
}
.et-line-pencil:before {
    content: "\e032";
}
.et-line-tools:before {
    content: "\e033";
}
.et-line-tools-2:before {
    content: "\e034";
}
.et-line-scissors:before {
    content: "\e035";
}
.et-line-paintbrush:before {
    content: "\e036";
}
.et-line-magnifying-glass:before {
    content: "\e037";
}
.et-line-circle-compass:before {
    content: "\e038";
}
.et-line-linegraph:before {
    content: "\e039";
}
.et-line-mic:before {
    content: "\e03a";
}
.et-line-strategy:before {
    content: "\e03b";
}
.et-line-beaker:before {
    content: "\e03c";
}
.et-line-caution:before {
    content: "\e03d";
}
.et-line-recycle:before {
    content: "\e03e";
}
.et-line-anchor:before {
    content: "\e03f";
}
.et-line-profile-male:before {
    content: "\e040";
}
.et-line-profile-female:before {
    content: "\e041";
}
.et-line-bike:before {
    content: "\e042";
}
.et-line-wine:before {
    content: "\e043";
}
.et-line-hotairballoon:before {
    content: "\e044";
}
.et-line-globe:before {
    content: "\e045";
}
.et-line-genius:before {
    content: "\e046";
}
.et-line-map-pin:before {
    content: "\e047";
}
.et-line-dial:before {
    content: "\e048";
}
.et-line-chat:before {
    content: "\e049";
}
.et-line-heart:before {
    content: "\e04a";
}
.et-line-cloud:before {
    content: "\e04b";
}
.et-line-upload:before {
    content: "\e04c";
}
.et-line-download:before {
    content: "\e04d";
}
.et-line-target:before {
    content: "\e04e";
}
.et-line-hazardous:before {
    content: "\e04f";
}
.et-line-piechart:before {
    content: "\e050";
}
.et-line-speedometer:before {
    content: "\e051";
}
.et-line-global:before {
    content: "\e052";
}
.et-line-compass:before {
    content: "\e053";
}
.et-line-lifesaver:before {
    content: "\e054";
}
.et-line-clock:before {
    content: "\e055";
}
.et-line-aperture:before {
    content: "\e056";
}
.et-line-quote:before {
    content: "\e057";
}
.et-line-scope:before {
    content: "\e058";
}
.et-line-alarmclock:before {
    content: "\e059";
}
.et-line-refresh:before {
    content: "\e05a";
}
.et-line-happy:before {
    content: "\e05b";
}
.et-line-sad:before {
    content: "\e05c";
}
.et-line-facebook:before {
    content: "\e05d";
}
.et-line-twitter:before {
    content: "\e05e";
}
.et-line-googleplus:before {
    content: "\e05f";
}
.et-line-rss:before {
    content: "\e060";
}
.et-line-tumblr:before {
    content: "\e061";
}
.et-line-linkedin:before {
    content: "\e062";
}
.et-line-dribbble:before {
    content: "\e063";
}
